{% extends 'base.html' %}

{% block title %}
Добавление
{% endblock %}

{% block body %}
<div class="container mt-5">
<h1>Добавление дома</h1>
  <form method="post">
  <input type="text" name="adress" id="adress" class="form-control"><br>
  <textarea type="text" name="type" id="type" class="form-control"></textarea><br>
  <textarea type="text" name="description" id="description" class="form-control"></textarea><br>
  <input type="submit" class="btn btn-success" value="Отправить">
  </form>
</div>
{% endblock %}