{% extends 'base.html' %}

{% block title %}
Добавление
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>Добавление дома</h1>
  <form method="POST" action="/AddHome" enctype="multipart/form-data">
    <h4>Адрес</h4>
    <input type="text" name="city" id="city" class="form-control" placeholder="Город" required><br>
    <input type="text" name="district" id="district" class="form-control" placeholder="Район"><br>
    <input type="text" name="street" id="street" class="form-control" placeholder="Улица" required><br>
    <input type="text" name="homenum" id="homenum" class="form-control" placeholder="Номер дома"><br>

    <h4>Год постройки</h4>
    <select name="year" id="year" class="form-control">
      {% for year in range(current_year, current_year - 100, -1) %}
      <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
    </select>

    <h4>Тип дома</h4>
    <input type="text" name="type" id="type" class="form-control" placeholder="Тип дома" required><br>

    <h4>Количество этажей</h4>
    <input type="text" name="floor" id="floor" class="form-control" placeholder="Количество этажей" required><br>

    <h4>Количество подъездов</h4>
    <input type="text" name="porch" id="porch" class="form-control" placeholder="Количество подъездов" required><br>

    <h4>Фото</h4>
    <input type="file" name="file" id="file" class="form-control" required><br>

    <input type="submit" class="btn btn-success" value="Отправить">
  </form>
</div>
{% endblock %}
