{% extends 'base.html' %}

{% block title %}
Изменение
{% endblock %}

{% block body %}
<div class="container mt-5">
<h1>Изменение данных дома</h1>
  <form method="post">
  <input type="text" name="adress" id="adress" class="form-control" value="{{ home.adress }}"><br>
  <textarea type="text" name="type" id="type" class="form-control" >{{ home.type }}</textarea><br>
  <textarea type="text" name="description" id="description" class="form-control" >{{ home.description }}</textarea><br>
  <input type="submit" class="btn btn-success" value="Изменить">
  </form>
</div>
{% endblock %}