{% extends 'base.html' %}

{% block title %}
{{ home.adress }}
{% endblock %}

{% block body %}
<div class="container mt-5">

  <div class="alert alert-info">
      <h2>{{ home.adress }}</h2>
      <p>{{ home.year }}</p>
      <p>{{ home.type }}</p>
      <p>{{ home.floor }}</p>
      <p>{{ home.porch }}</p>
      <img src="data:image/png;base64, {{ image }}" width="1000" height="auto"/>
      <p><b>Дата добавления: {{ home.date.date() }}</b></p>
      <a href="/posts/{{ home.id }}/edit" class="btn btn-success">✏️</a>
      <a href="/posts/{{ home.id }}/delete" class="btn btn-danger">🗑️</a>
  </div>

</div>
{% endblock %}