{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Вход</h1>
    <form method="POST" action="/login">
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <br>
    <p>Нет аккаунта? <a href="/register">Создайте!</a></p>
</div>
{% endblock %}
